* {
    margin: 0;
    padding: 0;
}

main {
    background: hsl(222, 26%, 31%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    padding: 2em;
    max-width: 375px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    color: white;
}

.icon {
    font-size: 38px;
}

.theme {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.theme > div:first-of-type {
    margin-bottom: 5px;
}

.theme-toggler {
    margin-left: 20px;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.theme-number {
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toggler {
    height: 25px;
    width: 100%;
    background: hsl(223, 31%, 20%);
    border-radius: 5em;
    display: flex;
    align-items: center;
}

.selector {
    height: 15px;
    width: 15px;
    margin: 5px;
    border-radius: 50%;
    background: hsl(6, 63%, 50%);
    transition: all 200ms ease;
}

.output {
    min-height: 4em;
    max-height: auto;
    width: auto;
    padding: 0.2em 0.5em;
    color: white;
    background:  hsl(224, 36%, 15%);
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    word-wrap: break-word;
    word-break: break-all;
}

.previousOperand, .currentOperand {
  height: auto;
  width: auto;
}

.currentOperand {
  font-size: 38px
}

.buttons {
    padding: 1em;
    margin-top: 1em;
    background: hsl(223, 31%, 20%);
    border-radius: 0.5em;
}

.btn-row {
    
}

.small-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.large-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.small-buttons button {
    background:  hsl(30, 25%, 89%);
    box-shadow: 0px 3px hsl(28, 16%, 65%);
    width: 50px;
    height: 50px;
    margin: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    color: hsl(221, 14%, 31%);
    border-radius: 0.2em;
}

button {
  border: none;
}

.large-buttons button {
    border-radius: 0.2em;
    margin: 0.3em;
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-row:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button[data-delete], button[data-reset] {
    background: hsl(225, 21%, 49%);
    color: white;
    font-size: 16px;
    box-shadow: 0px 3px hsl(224, 28%, 35%);
}

#equals {
    color: white;
    font-size: 16px;
    background: hsl(6, 63%, 50%);
    box-shadow: 0px 3px hsl(6, 70%, 34%);
}

